/* Данный подход к стилизации позволяет изолировать классы только внутри используемого компонента */
/* импорт стилазции будет отличаться от первого подхода, фаткически формуя объект со сво-вами всех классов */
.post_wrapper{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px
}